.comment{
  th {
    text-align: center;

    &.w50 {
      width: 50px;
    }

    &.w400 {
      width: 400px;
    }

    &.left {
      text-align: left;
    }
  }

  td {
    text-align: center;

    &.left {
      text-align: left;
    }
  }
}