.comment{
  th {
    text-align: center;

    &.w50 {
      width: 50px;
    }

    &.w400 {
      width: 400px;
    }

    &.left {
      text-align: left;
    }
  }

  td {
    text-align: center;

    &.left {
      text-align: left;
    }
  }
}

.commentsList {
  h2 {
    font-family: 'verdana';
    font-size: 20px;
    color: #000;
    margin: 15px 0px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #dfdfdf;
  }

  .itemComment {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    .answer {
      display: inline-block;
      margin: 0px 0px 0px 5px;
      color: #337ab7;
      border-bottom: 1px dotted;
      font-size: 0.9em;
      cursor: pointer;
    }

    .user {
      width: 60px;
      height: 60px;
      border: 1px solid #d0d0d0;
      flex: 0 0 60px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      align-items: center;
      display: flex;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .message {
      display: flex;
      width: 100%;
      padding-top: 10px;
      flex-flow: column wrap;
      flex: 1 0;

      .systemCommnet {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-between;
      }

      .icon {

        cursor: pointer;

        &.like {
          color: green;
          font-size: 16px;
          margin-right: 10px;


        }

        &.dislike {
          color: red;
          font-size: 16px;
        }

        span {
          font-style: normal;
          font-size: 13px;
          position: relative;
          top: -2px;
          margin-left: 5px;
        }
      }


    }

    form{
      flex: 1 0 100%;
      .addCommentForm {
        background: #eee;
        padding: 20px 0;
        float: left;
        width: 100%;
        margin: 0px;
        margin-top: 20px;

        .fieldForm {
          textarea {
            white-space: pre-wrap;
            word-wrap: break-word;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            max-width: 100%;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            text-align: left;
            resize: none;
            outline: 0;
            border: 0px;
            width: 100%;
            padding: 10px;
          }
        }

        .fieldButton {
          text-align: right;
          input {
            padding: 10px 15px;
            text-align: center;
            background: #337ab7;
            color: #fff;
            cursor: pointer;
            border: none;
            &:hover{
              background: #286090;
            }

            &[type="button"] {
              background: red;
              &:hover{
                background: #f54747;
              }
            }
          }
        }
      }
    }


    &.child {
      margin-left: 70px;
    }

  }


  #topComments {
    //border: 1px solid green;
    //padding: 20px;
    //margin-bottom: 20px;
  }

  #allComments {
    .showAllComments {
      margin: 20px 0px;
      padding: 10px 5px;
      text-align: center;
      background: #337ab7;
      color: #fff;
      cursor: pointer;
      &:hover {
        background: #286090;
      }
    }
  }

  .topComment {
    border-bottom: 1px solid green;
    padding: 0px;
    margin-bottom: 20px;

    .best{
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 36px;
        background: url(../images/best.svg);
        position: absolute;
        right: 0px;
        bottom: -10px;
      }
    }
  }

  .messageComment {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #585858;
    width: 100%;
    padding: 10px;
    z-index: 5;
    text-align: center;
    color: #fff;
    &.hide {
      display: none;
    }
  }
}